h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: green;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: green;
}

h3 {
	font-size: 1.0em;
	font-weight: bold;
	color: green;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar { 
	background-color: #3d9970;
}

div.navbar-collapse ul.nav {
	display: none;
}

div.navbar-collapse ul.navbar-right {
	display: block;
}

.navbar li {
	max-width: 230px;
	overflow: hidden;
}

pre {
	padding-top: 0;
	padding-bottom: 0;
}

p {
	line-height: 1.5;
	margin-top: 1.3em;
}

img {
	display: block;
	padding: 1em;
	border: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
}
