h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar { 
	background-color: #3d9970;
}

div.navbar-collapse ul.nav {
	display: none;
}

div.navbar-collapse ul.navbar-right {
	display: block;
}

.navbar li {
	max-width: 230px;
	overflow: hidden;
}

pre {
	padding-top: 0;
	padding-bottom: 0;
}

p {
	line-height: 1.8;
	margin-top: 1.3em;
}
